---
const PROJECTS = [
  {
    title: "Project 1",
    description:"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt. Nullam nec purus nec nunc ultricies tincidunt.",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["HTML", "CSS", "JavaScript"],
  },
];
---
{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        <li>
          {tags.map((tag) => (
            <li>{tag}</li>
          ))}
        </li>
      </ul>
      <img src={image} alt={`Captura de pantalla del proyecto ${title}` } />
    </article>
  ))
}
