---
import HTMLIcon from "../assets/media/icons/HTMLIcon.astro";
import CSSIcon from "../assets/media/icons/CSSIcon.astro";
import JavaScriptIcon from "../assets/media/icons/JavaScriptIcon.astro";
import ReactIcon from "../assets/media/icons/ReactIcon.astro";
import GitHub from "../assets/media/icons/GitHubIcon.astro";
import LinkButton from "./LinkButton.astro";
import Link from "../assets/media/icons/Link.astro";
import PHPIcon from "../assets/media/icons/PHPIcon.astro";
import BootstrapIcon from "../assets/media/icons/BootstrapIcon.astro";
import TailwindIcon from "../assets/media/icons/TailwindIcon.astro";
import TypescriptIcon from "../assets/media/icons/TypeScriptIcon.astro";


const TAGS = {
  HTML: {
    name: "HTML",
    class: "bg-gray-800 text-[#E44D26]",
    icon: HTMLIcon,
  },
  CSS: {
    name: "CSS",
    class: "bg-gray-800 text-blue-400",
    icon: CSSIcon,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-gray-800 text-[#D1B400]",
    icon: JavaScriptIcon,
  },
  React: {
    name: "React",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  PHP: {
    name: "PHP",
    class: "bg-gray-800 text-[#777BB3]",
    icon: PHPIcon,
  },
  Boostrap: {
    name: "Boostrap",
    class: "bg-gray-800 text-purple-500",
    icon: BootstrapIcon,
  },
  Tailwind: {
    name: "Tailwind",
    class: "bg-gray-800 text-[#44a8b3]",
    icon: TailwindIcon,
  },
  NextJS: {
    name: "Next.JS",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Angular: {
    name: "Angular",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  VueJS: {
    name: "Vue.js",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Node: {
    name: "Node",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Express: {
    name: "Express",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  NET: {
    name: ".NET",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Java: {
    name: "Java",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  CSharp: {
    name: "C#",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Python: {
    name: "Python",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  TypeScript: {
    name: "TypeScript",
    class: "bg-gray-800 text-[#007ACC]",
    icon: TypescriptIcon,
  },
  Svelt: {
    name: "Svelte",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  SpringBoot: {
    name: "Spring Boot",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Django: {
    name: "Django",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  Jquery: {
    name: "JQuery",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  PostgreSQL: {
    name: "PostgreSQL",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  MongoDB: {
    name: "MongoDB",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
  MySql: {
    name: "MySQL",
    class: "bg-gray-800 text-[#61DAFB]",
    icon: ReactIcon,
  },
};

const PROJECTS = [
  {
    title: "49% - Página de agencia con formulario de contacto funcional",
    description:
      "Una página de agencia cuenta con un diseño responsivo y una estructura clara. Incluye un formulario de contacto funcional. El código es modular y reutilizable, utilizando hooks personalizados y componentes estilizados con CSS Modules.",
    link: "https://49percent.netlify.app",
    github: "https://github.com/fergone03/pag-agencia",
    image: "./projects/svgl.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript, TAGS.React],
  },
  {
    title: "GitHub Finder - Una vista simplificada de perfiles de GitHub",
    description:
      "La aplicación presenta un diseño responsivo y una estructura clara, desarrollada con React y un backend en PHP. Permite consultar información de perfiles de GitHub a través de una vista simplificada, integrando datos mediante llamadas a la API. El código es modular y reutilizable, empleando hooks personalizados para la gestión del estado y componentes estilizados con Bootstrap.",
    github: "https://github.com/fergone03/github-finder",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.Boostrap, TAGS.JavaScript, TAGS.React],
  }, 
  {
    title: "Material para desarrolladores - Por y para la comunidad",
    description:
      "Material para desarrolladores es una plataforma pensada para programadores que buscan tener a mano una recopilación organizada de páginas útiles y recursos esenciales. Puedes explorar libremente como visitante o registrarte para guardar tus propias páginas favoritas, totalmente privadas y accesibles solo para ti. Una herramienta práctica, sencilla y hecha por y para desarrolladores.",
    link: "https://material-para-desarrolladores.netlify.app",
    github: "https://github.com/fergone03/material-para-desarrolladores",
    image: "./projects/material_para_desarrolladores.webp",
    tags: [TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  
  /* 
  {
    title: "eFCT - Sistema de gestión de prácticas de Formación Profesional",
    description:
      "Hacer la vida de los tutores laborales, tutores de prácticas y alumnos más fácil. Permite visualizar y escribir la memoria de prácticas, así como rellenar y firmar las fichas semanales por las 3 partes implicadas, también contamos con un sistema de chat muy visual y intuitivo.", 
    link: "https://google.com",
    github: "https://github.com/paurosmoleon/TFG",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "TFM",
    description:
      "WIP", 
    github: "https://github.com/fergone03/TFM",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python],
  },
  {
    title: "App parejas",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/app-parejas",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Clon Booking",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/clon-booking",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Clon Pag ULP",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/clon-pag-ulp",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Galería de componentes", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/galeria-componentes",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Gestor de contenidos",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/gestor-de-contenidos",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Life Cloud",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/life-cloud",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Launcher simple",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/launcher-gachas",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Pokeproject",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/pokeproject",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Subida de nota",
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/subida-de-nota",
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Python, TAGS.Tailwind, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Typescript React NextJS", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.NextJS, TAGS.TypeScript, TAGS.React],
  },
  {
    title: "Tienda Angular", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.Angular, TAGS.TypeScript],
  },
  {
  title: "Halloween JJJ", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Clon Tesla", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Cartas", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Google maps reviews FCT", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Java", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "SpringBoot", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Svelt", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "VueJS", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  {
  title: "Express", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
    {
  title: ".NET", 
    description:
      "WIP",
    link: "https://google.com", 
    github: "https://github.com/fergone03/typescript-react-nextjs", 
    image: "./projects/thumbnail-mainpage_github_finder.webp",
    tags: [TAGS.PHP, TAGS.JavaScript, TAGS.CSS, TAGS.HTML],
  },
  */
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`imagen del proyecto ${title}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
              
            </footer>
            
          </div>
          
        </div>
        
      </article>
            <div class="mt-2 text-gray-300">
            {description}
            </div>
    ))
  }
</div>
